.project-container {
  margin-top: 100px;
  padding-top: 50px;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 1200px;
}


.project-container .title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 10px;
}

.project-container .project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.project-card-container {
  width: 90%;
  max-width: 1300px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-content: center;
  justify-content: center;
}